MAIN_DOMAIN=fablab.cmc.ma
ADMIN_DOMAIN=admin.fablab.cmc.ma
LETSENCRYPT_EMAIL=it@cmc.ma

POSTGRES_DB=fablab
POSTGRES_USER=fablab
POSTGRES_PASSWORD=change-this-postgres-password

JWT_SECRET=change-this-long-random-secret
JWT_EXPIRES_IN=7d
ADMIN_SEED_EMAIL=sara.admin@fablab.local
ADMIN_SEED_PASSWORD=change-this-admin-password
FIREBASE_SERVICE_ACCOUNT=/run/secrets/firebase-service-account.json

VITE_API_URL=/api
