upstream fablab_api {
  server fablab-api:4000;
}

server {
  listen 80;
  server_name ${MAIN_DOMAIN};

  root /usr/share/nginx/html/user;
  index index.html;

  location /api/ {
    proxy_pass http://fablab_api;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
  }

  location /api/events/stream {
    proxy_pass http://fablab_api;
    proxy_http_version 1.1;
    proxy_buffering off;
    proxy_read_timeout 1d;
    proxy_send_timeout 1d;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
  }

  location /api/events/ws {
    proxy_pass http://fablab_api;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_read_timeout 1d;
    proxy_send_timeout 1d;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}

server {
  listen 80;
  server_name ${ADMIN_DOMAIN};

  root /usr/share/nginx/html/admin;
  index index.html;

  location /api/ {
    proxy_pass http://fablab_api;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
  }

  location /api/events/stream {
    proxy_pass http://fablab_api;
    proxy_http_version 1.1;
    proxy_buffering off;
    proxy_read_timeout 1d;
    proxy_send_timeout 1d;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
  }

  location /api/events/ws {
    proxy_pass http://fablab_api;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_read_timeout 1d;
    proxy_send_timeout 1d;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
